@model UserProfile
@{
    ViewData["Title"] = "Perfil de usuario";
}

<main class="row p-4">
    <link rel="stylesheet" href="~/css/profile.css">

    <div class="col-12 col-md-6">
        <img class="d-none" id="sampleImg">
        <h4 class="text-primary mb-4">¡Hola, @Model.User.Username.ToLowerInvariant()!</h4>
        @using(Html.BeginForm("Post", "User", FormMethod.Post, new { @class = "mb-5" })) {
            <p>¿En qué piensas?</p>
            <div class="form-group">
                @Html.TextAreaFor(m => m.PostForm.Content, new { @class="form-control"})
                <small class="text-danger">@Html.ValidationMessageFor(m => m.PostForm.Content)</small>
            </div>
            <div id="imgCarousel" class="row">

            </div>
            <div class="text-right">
                <button class="btn btn-outline-primary btn-sm" onclick="addImage()">Agregar imagen</button>
                <input type="file" class="d-none" name="PostImage" id="sendImage" accept="image/*" multiple>
                <input type="submit" class="btn btn-primary btn-sm ml-3" value="Enviar">
            </div>
        }
    </div>
    <div class="col-12 col-md-6">
        @if(@Model.Posts.Count() == 0){
            <p class="text-center small text-muted">Está un poco vacío aquí, ¡usa el formulario de abajo para agregar un post!</p>
        }
        else {
            @foreach (var post in Model.Posts)
            {
                <div class="py-3">
                    <div class="card p-3">
                        <p class="card-text mb-4">@post.Content</p>
                        <div class="row">
                            <div class="col-6">
                                @Html.ActionLink(
                                    "Eliminar publicación", 
                                    "DeletePost", 
                                    "User", 
                                    new { id = post.Id }, 
                                    new { @class = "nav-link text-danger small p-0"})
                            </div>
                            <div class="text-right col-6">
                                <p class="small text-secondary mb-0">@post.Date.ToString("yyyy/MM/dd")</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <script src="~/js/profile.js"></script>
</main>